<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home User</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/custom.css" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  </head>
  <body>
    <div
      class="main relative overflow-hidden w-full h-screen text-white bg-black z-50"
    >
      <nav
        class="w-full bg-blur fixed h-20 flex px-6 items-center justify-between border-b border-zinc-900 z-50">
        <a href="/">
          <h1
            class="notek text-3xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-5xl 2xl:text-6xl font-medium text-pink-600 shadow-white"
          >
            Notek
          </h1>
        </a>

        <div class="menu-btn sm:hidden block">
          <i class="ri-menu-3-line text-2xl"></i>
        </div>

        <div class="user-icon select-none sm:flex hidden w-[2.6rem] h-[2.6rem] text-black hover:text-white hover:bg-black items-center justify-center font-bold bg-white rounded-full shadow-white cursor-pointer">
          <%= user.firstName.charAt(0).toUpperCase() + user.lastName.charAt(0).toUpperCase() %>
          </div>
      </nav>
      
      <div class="head-gradient absolute top-[38%] left-[0%] sm:left-[24%]  w-[50rem] h-[10rem] rounded-full -z-10"></div>
      
      <div class="menu-list border border-zinc-700 bg-blur flex flex-col gap-2 absolute w-44 h-64 rounded-md top-[5%] -right-[100%] py-20 justify-start  z-20">
        <a
          href="/"
          class="py-2 px-4 text-2xl underline text-white rounded-sm font-medium"
          >Home</a
        >
        <a
      href="/user/logout"
        class="logout py-2 px-4 text-2xl underline text-white rounded-sm font-medium cursor-pointer"
        >LogOut</a
      >
      </div>

      <div class="user-container w-full h-[83vh] flex items-center justify-center mt-[6rem] sm:mt-[4rem]">
        <div class="form-div relative w-[40rem] h-[28rem] sm:h-[25rem] flex px-6 py-4 sm:py-0 items-center justify-center text-white bg-black rounded-md border">
            <form action="/user/update" method="post" class="flex flex-wrap justify-center gap-5 sm:gap-10">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input
                    type="text"
                    name="firstName"
                    value="<%= user.firstName %>"
                    autocomplete="off"
                    placeholder="Enter your first name"
                    class="text-white font-medium bg-transparent outline-none rounded-md py-2 px-3 bg-zinc-900"
                />
                <input
                    type="text"
                    name="lastName"
                    value="<%= user.lastName %>"
                    autocomplete="off"
                    placeholder="Enter your last name"
                    class="text-white font-medium bg-transparent outline-none rounded-md py-2 px-3 bg-zinc-900"
                />
                <input
                    type="email"
                    name="email"
                    value="<%= user.email %>"
                    autocomplete="off"
                    placeholder="Enter your email"
                    class="text-white font-medium bg-transparent outline-none rounded-md py-2 px-3 bg-zinc-900"
                />
                <input
                    type="password"
                    name="current_password"
                    placeholder="Enter your current passwd"
                    class="text-white font-medium bg-transparent outline-none rounded-md py-2 px-3 bg-zinc-900"
                />
                <input
                    type="password"
                    name="new_password"
                    placeholder="Enter your new password"
                    class="text-white font-medium bg-transparent outline-none rounded-md py-2 px-3 bg-zinc-900"
                />
                <button type="submit" class="px-4 py-2 font-medium text-xl bg-white hover:bg-zinc-500 text-black rounded-md">Update</button>
                <h5 class="text-[13px] sm:text-[14px] text-red-700"> <%= error %> </h5>       
              </form>
        </div>
      </div>
    </div>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
